<div>
  <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
      <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-light">Créez-vous un compte</h2>
    </div>

    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
      <form #registerForm="ngForm" (ngSubmit)="register(registerForm.value)" class="space-y-6">
        <div>
          <div class="flex items-center justify-between">
            <label for="nom" class="block text-sm font-medium leading-6 text-light">Nom de famille</label>
          </div>
          <div class="mt-2">
            <input ngModel id="nom" name="nom" type="text" placeholder="Entrez un nom de famille" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-purple sm:text-sm sm:leading-6 pl-[10px]">
          </div>
        </div>

        <div>
          <div class="flex items-center justify-between">
            <label for="prenom" class="block text-sm font-medium leading-6 text-light">Prénom</label>
          </div>
          <div class="mt-2">
            <input ngModel id="prenom" name="prenom" type="text" placeholder="Entrez un prénom" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-purple sm:text-sm sm:leading-6 pl-[10px]">
          </div>
        </div>

        <div>
          <div class="flex items-center justify-between">
            <label for="ville" class="block text-sm font-medium leading-6 text-light">Ville de résidence</label>
          </div>
          <div class="mt-2">
            <input ngModel id="ville" name="ville" type="text" placeholder="Entrez une ville de résidence" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-purple sm:text-sm sm:leading-6 pl-[10px]">
          </div>
        </div>

        <div>
          <label for="email" class="block text-sm font-medium leading-6 text-light">Adresse email</label>
          <div class="mt-2">
            <input ngModel id="email" name="email" type="email" placeholder="Entrez une adresse email" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-purple sm:text-sm sm:leading-6 pl-[10px]">
          </div>
        </div>
  
        <div>
          <div class="flex items-center justify-between">
            <label for="password" class="block text-sm font-medium leading-6 text-light">Mot de passe</label>
          </div>
          <div class="mt-2">
            <input ngModel id="password" name="password" type="password" placeholder="Entrez un mot de passe" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-purple sm:text-sm sm:leading-6 pl-[10px]">
          </div>
        </div>
  
        <div>
          <button type="submit" class="flex w-full justify-center rounded-md bg-purple px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-purple-light focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-purple transition-all duration-200">S'inscrire</button>
        </div>
      </form>
  
      <p class="mt-5 text-center text-sm text-red-600">{{ msgErr }}</p>

      <p class="mt-3 text-center text-sm text-light">
        Déjà un compte ?
        <a routerLink="/login" class="font-semibold leading-6 text-purple hover:text-purple-light transition-all duration-200">Connectez-vous ici</a>
      </p>
    </div>
  </div>
</div>